.servicedtable-container {
  width: 100%;
}

.servicedtable-container .ant-table-row :nth-child(6){
  width: 70px;
  position: relative;
  bottom: 8px;
  border: none;
}

.servicedtable-container .ant-table-row:hover :nth-child(6){
  background: none;
}

.servicedtable-container .ant-table-cell img {
  margin: -2px 8px 0 0;
}