.userinformation-container {
  display: flex;
}

.userinformation-container-child {
  background: #B1B1B1;
  width: 1320px;
}

.userinformation-main {
  background: white;
  width: 1140px;
  margin: 96px;
  border-radius: 12px;
}

.userinformation-img {
  width: 50px;
}
