.body {
  display: none;
}

.userinformation-container {
  display: flex;
}

.userinformation-container-child {
  background: #B1B1B1;
  width: 1320px;
}

.userinformation-main {
  background: #FFFFFF;
  width: 1112px;
  height: 397px;
  margin: 96px;
  border-radius: 12px;
  display: flex;
}

.userinformation-img {
  width: 248px;
  height: 248px;
  position: relative;
}

.userinformation-img img {
  margin: 24px 0 0 24px;
}

.userinformation-icon {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 232px;
  right: 14px;
  background: #FF7506;
  color: #FFFFFF;
  border-radius: 50px;
}

.userinformation-icon svg {
  margin: 14px 0 0 14px;
}

.userinformation-name {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  color: #282739;
  margin: 40px 0 0 58px;
}
