.sidebar-container {
  width: 200px;
  height: 780px;
  background-color: #fff;
  margin: 0 10px 0 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 4rem;
  transition: all 300ms ease;
}
/* logo */
.bars{
  display: none;
}

.logo-1 {
  margin: 0 0 0 50px;
  width: 120px;
  padding-top: 50px;
}


/* .logo {
  display: flex;
  height: 5rem;
  font-weight: bold;
  font-size: 22px;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  height: 4%;
} */

.logo > img {
  width: 3rem;
  height: 3rem;
}


/* menu */
.menu {
  height: auto;
  padding: 0;
  width: 100%;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}

.menu a {
  color: #4A4A4A;
}

.menu .menuItem {
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 2.5rem;
  padding-left: 1.7rem;
  position: relative;
  transition: all 300ms ease;
  font-size: 14px;
  margin: 0;
}

.menu .menuItem:hover {
  cursor: pointer;
  color: #FF7506;
  background-color: #FFF2E7;
}

.sub-menuItem:hover {
  cursor: pointer;
  color: #FF7506;
  background-color: #FFF2E7;
}

.menuItem-hover {
  position: relative;
}

.sub-menu {
  display: none;
  z-index: 1;
  top: 2px;
  left: 186px;
  position: absolute;
  width: 200px;
  background-color: #FFFFFF;
}

.sub-menuItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 2.5rem;
  padding-left: 1.7rem;
  position: relative;
  transition: all 300ms ease;
  font-size: 14px;
}

.menuItem-hover:hover .sub-menu {
  display: block;
}

/* .menu .menuItem:last-child {
  position: absolute;
  bottom: 2.3rem;
  width: 100%;
} */

/* .active {
  background: var(--activeItem);
  margin-left: 0;
}
.active::before {
  content: "";
  width: 8px;
  height: 100%;
  background: var(--pink);
  margin-right: calc(1rem - 8px);
} */


/* Tablets */
/* @media screen and (max-width: 1200px) {
  .menuItem>span{
    display: none;
  }
  .logo{
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .sidebar{
    position: fixed;
    z-index: 9;
    background: #ffe0e0;
    width: 55%;
    padding-right: 1rem;
    height: 100%;
  }
  .menuItem>span{
    display: block;
  }
  .logo{
    display: flex;
  }
  .menu .menuItem:last-child {
    position: relative;
    margin-top: 6rem;
  }
  .bars{
    display: flex;
    position: fixed;
    top: 2rem;
    left:60%;
    background:#ffe0e0;
    padding:10px;
    border-radius: 10px;
    z-index: 9;
  }
  .close{
    left: -60%;
  }
} */

