.container {
  display: flex;
  margin-left: 0!important;
}

.signin {
  width: 600px!important;
  background-color: #B1B1B1;
  height: 718px;
}

.logo {
  cursor: pointer; 
  width: 120px; 
  margin-top: 100px;
  margin-left: 140px;;
}



.form-size {
  width: 400px;
}

.btn {
  position: relative;
}

.password-icon {
  position: absolute;
  top: 22px;
  right: 8px;
  color: rgb(12, 12, 12);
  cursor: pointer;
  padding: 0.6rem;
  outline: none;
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
}

.image {
  width: 500px!important;
  margin: 80px 0 0 150px;
  position: relative;
}

.text {
  position: absolute;
  width: 142px;
  height: 54px;
  left: 1044px;
  top: 310px;

  /* 34/34 Reg */

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 51px;
  /* or 150% */

  text-align: center;

  /* Orange/$-Orange-500 */

  color: #FF7506;
}

.text-sub {
  /* 36/36 Xbold */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 54px;
  text-transform: uppercase;
  width: 400px;
  /* identical to box height, or 150% */

  text-align: center;

  /* Orange/$-Orange-500 */

  color: #FF7506;
}



