.deviceheader-title {
  display: flex;
  width: 1200px;
  margin-top: 20px;
}

.avatar-device {
  padding-left: 134px;
  display: flex;
  width: 288px;
}

.avatar-device-icon {
  background: #FFF2E7;
  right: 180px;
  top: 40px;
  width: 52px!important;
  height: 32px;
  border-radius: 20px;
  margin: 12px 10px 0 68px;
  cursor: pointer;
  color: #FFAC6A;
}

.avatar-img-title {
  display: flex;
}

.avatar-device img {
  width: 52px;
  height: 52px;
  border-radius: 48px;
  cursor: pointer;
}

.avatar-title {
  width: 118px;
}