.devicemenu-container {
  width: 1200px;
}

.devicemenu-container p {
  width: 1200px;
}

.devicemenu-title {
  display: flex;
  width: 1200px;
}

.devicemenu-title--1 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */
  /* gray blue/gray 4 - place holder */
  color: #7E7D88;
}

.devicemenu-title--2 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */
  /* Orange/$-Orange-500 */
  color: #FF7506;
  padding-left: 20px;
  width: 220px;
  display: inline;
}

.avatar-device {
  margin-left: 800px;
  display: flex;
}

.avatar-device-icon {
  background: #FFAC6A;
  right: 180px;
  top: 40px;
  width: 88px;
  height: 36px;
  border-radius: 20px;
  margin: 12px 24px 0 100px;
  cursor: pointer;
}

.avatar-device img {
  width: 52px;
  height: 52px;
  border-radius: 48px;
  cursor: pointer;
}

.avatar-title {
  display: flex;
}

.devicemenu-container p {
  width: 200px;
}

.devicemenu-option {
  display: flex;
}

.menu--active-state-1 {

}

.menu--active-state-2 {

}

.menu--active-search {

}