.devicemenu-container {

}

.devicemenu-title {
  display: flex;
}

.avatar-device {
  margin: 28px 0 44px 300px;
}

.avatar-device-icon {
  background: #FFAC6A;
  width: 32px;
  height: 32px;
  border-radius: 20px;
  margin: 12px 24px 0 100px;
  cursor: pointer;
}

.avatar-device img {
  width: 52px;
  height: 52px;
  border-radius: 48px;
  cursor: pointer;
}

.ant-spin-container {
  margin: 200px 300px 0 0;
}

.menu--active-state {

}