.container {
  display: flex;
  margin-left: 0!important;
}

.forgot {
  width: 600px!important;
  background-color: #B1B1B1;
  height: 718px;
}

.logo {
  cursor: pointer; 
  width: 120px; 
  margin: 80px 0 80px 220px!important;
}

.form-size {
  width: 400px;
  margin-left: 80px;
}

.sub-title {
  position: relative;
  left: 29.51%;
  right: 73.68%;
  top: 39.51%;
  bottom: 57.53%;

  /* 22/22 Bold */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  /* or 150% */
  /* Gray/$-gray-500 */

  color: #282739;
}

.input, .select select, .textarea {
  background-color: #fff;
  border-color: #B1B1B1;
  border-radius: 6px!important;
}

.input:active, .input:focus, .is-active.input, .is-active.textarea, .is-focused.input, .is-focused.textarea, .select select.is-active, .select select.is-focused, .select select:active, .select select:focus, .textarea:active, .textarea:focus {
  border-color: #ff7e15!important;
  box-shadow: 0 0 0 0.125em rgba(247, 169, 35, 0.25);
}

.btn__cancel-forgot {
  margin: 5px 0 0 40px;
  color: #FF9138!important;
  padding: 0 54px 0 52px!important;
  border-radius: 8px!important;
}

.btn-forgot {
  margin: 5px 0 0 20px;
  color: #fff!important;
  padding: 0 46px 0 46px!important;
  border-radius: 8px!important;
  background-color: #FF9138!important;
}

.image {
  width: 500px!important;
  margin: 140px 0 0 180px;
}






