.form {
  position: relative;
}

.password-icon {
  position: absolute;
  top: 22px;
  right: 72px;
  color: rgb(12, 12, 12);
  cursor: pointer;
  padding: 0.6rem;
  outline: none;
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
}
