.add-device-header {
  width: 1316px;
}

.add-device-title {
  display: flex;
  width: 1200px;
  margin-top: 20px;
}

.add-device-title--1 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #7E7D88;
  width: 152px;
  margin-left: 18px;
}

.add-device-title--2 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #7E7D88;
  width: 270px;
  margin-left: 18px;
}

.add-device-title--3 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #FF7506;
  padding-left: 20px;
  width: 400px;
  margin-right: 352px;
}