.rightbar-container {
  width: 400px;
  height: 780px;
}

.avatar {
  display: flex;
  margin: 20px 0 40px 0;
}

.avatar-icon {
  background: #FFAC6A;
  width: 32px;
  height: 32px;
  border-radius: 20px;
  margin: 12px 24px 0 100px;
  cursor: pointer;
}

.avatar img {
  width: 52px;
  height: 52px;
  border-radius: 48px;
  cursor: pointer;
}

.avatar-title {

}

.overview {
  width: 118px;
  height: 36px;
  left: 24px;
  top: 104px;
  margin-left: 20px;

  /* 24/24 Bold */

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */

  /* Orange/$-Orange-500 */
  color: #FF7506;
}

.rightbar-table {
  display: flex;
}

