.mainboard-container {
  width: 100%;
  height: 100%;
}

.mainboard-title {
    position: static;
    width: 102px;
    height: 30px;
    left: 0px;
    top: 5px;

    /* 20/20 Bold */

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */


    /* Orange/$-Orange-400 */

    color: #FF9138;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
}

.mainboard-subtitle {
    position: absolute;
    width: 162px;
    height: 36px;
    left: 224px;
    top: 104px;

    /* 24/24 Bold */

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */


    /* Orange/$-Orange-500 */

    color: #FF7506;
}


.featured {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.featuredItem {
  flex: 1;
  margin: 0px 10px 40px;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.featuredTitle{
    font-size: 20px;
}

.featuredIcon{
    font-size: 14px;
    margin-left: 5px;
    color: green;
}

.featuredMoneyContainer{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.featuredMoney{
    font-size: 20px;
    font-weight: 400;
}

.featuredMoneyRate{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.featuredIcon.negative{
    color: red;
}

.featuredSub{
    font-size: 15px;
    color: gray;
}