.newnumber-table {
  background-color: white;
  margin: 20px 20px 40px 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  height: 500px;
}

.newnumber-table-child {
  margin-left: 20px;
}

.newnumber-table-title__1 {

}

