.navbar {
  border-bottom: 1px solid #ccc;
}

.container {
  display: flex;
  justify-content: space-between;
}

.navbar-brand {
  margin: 28px 0 20px 28px;
}

.navbar-end {
  
}

.navbar-items {

}

.buttons {
  
}