.notification {
  top: 32px;
  right: 66px;
  width: 364px;
  border-radius: 18px;
  box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
  animation: fadeIn ease-in 0.2s;
  cursor: default;
  display: block;
  z-index: 1;
}

.notification-heading {
  width: 364px;
  position: relative;
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
  height: 48px;
  right: 24px;
  bottom: 20px;
  color: white;
  background: #FF9138;
  padding: 12px 0 0 12px;
}

.notification-content {
  top: 32px;
  right: 66px;
  width: 364px;
  border-radius: 18px;
  box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
  animation: fadeIn ease-in 0.2s;
  cursor: default;
  display: block;
  z-index: 1;
}

.notification-list-item {
  padding-left: 0;
  list-style: none;
  max-height: 56vh; /* view port height của trình duyệt (bằng browser height) */
  overflow-y: auto; /* Vượt qua chiều cao cart thì hiện thanh scroll */
}

.notification-item-title {
  
}

.notification-item-sub {
  
}

.notification-item-title:hover {
  background-color: #F8F8F8;
}

.notification-item-name {
  font-size: 1.4rem;
  line-height: 2rem; /* */
  max-height: 4rem; /* Set trường hợp name quá dài và độ cao */
  overflow: hidden; /* */
  font-weight: 500;
  color: var(--text-color);
  margin: 0;
  flex: 1; /* Chiếm hết không gian có thể chiếm, trở lại kích thước ban đầu */
  padding-right: 16px;
  /* Hiện dấu '...' khi vượt quá độ dài */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: left; /* Canh chữ sang trái */
}