.notification {
  top: 32px;
  right: 100px;
  width: 364px;
  border-radius: 18px;
  box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
  animation: fadeIn ease-in 0.2s;
  cursor: default;
  display: block;
  z-index: 40;
  padding: none;
}

.notification-heading {
  width: 364px;
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
  height: 48px;
  color: white;
  background: #FF9138;
  padding: 12px 0 0 12px;
}

.notification-content {
  width: 364px;
}

.notification-message {
  max-height: 56vh; /* view port height của trình duyệt (bằng browser height) */
  overflow-y: auto; /* Vượt qua chiều cao cart thì hiện thanh scroll */
}

.notification-list-item {
  padding-left: 0;
  list-style: none;
  height: 60px;
  width: 340px;
  cursor: pointer;
  padding: 6px 0 0 6px;
} 

.notification-list-item:hover {
  background: #FFF2E7;  
}

.notification-item-title {
  
}

.notification-item-sub {
  
}
